.bordered-box {
    border: 1px solid #000;
    padding: 10px;
}
.unbordered-box {
    padding: 10px;
}
.small-text {
    font-size: 0.75rem;
}
.large-text {
    font-size: 1.25rem;
}
.mid-text {
    font-size: 1rem;
}
.strong {
    font-weight: bold;
}
body {
    font-family: arial;
}
p {
    line-height: 1rem;
    margin: 0;
    padding: .2em;
}
label {
    display: block;
}
input, label {
    margin: 0.4rem 0rem;
}
h1 {
    color: white;
    background-color: rgb(31, 17, 155);
    text-align: center;
}
h2, h3 {
    color: rgb(25, 25, 50);
    padding-bottom: 0.5rem;
}
aside {
    width: 25%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: left;
}
.inline-icon {
    height: auto;
    width: 30px;
    float: inline-end;
}
.justify-end {
    justify-content: end;
}
.justify-center {
    justify-content: center;
}
.auto-height {
    height: auto;
}
.half-height {
    height: 50%;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* Borrowed bootstrap styles not found in Foundation */
/* Some may be modified.                             */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.display-flex {
    display: flex;
}
.col-auto {
    flex-grow: 1;
    flex-basis: 0;
}
/* MARGIN/PADDING UTILS */
/* Margin - all sides */
.m-0 {
    margin: 0;
}
.m-1 {
    margin: 0.375rem;
}
.m-2 {
    margin: 0.625rem;
}
.m-3 {
    margin: 1rem;
}
.m-4 {
    margin: 1.375rem;
}
.m-5 {
    margin: 1.625rem;
}
.m-auto {
    margin: auto;
}
/* Padding - all sides */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 0.375rem;
}
.p-2 {
    padding: 0.625rem;
}
.p-3 {
    padding: 1rem;
}
.p-4 {
    padding: 1.375rem;
}
.p-5 {
    padding: 1.625rem;
}
.pe-2 {
    padding-right: 0.5rem !important;
}
.pe-3 {
    padding-right: 1rem !important;
}
.pe-4 {
    padding-right: 1.5rem !important;
}
/* Column widths */
.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
/* BACKGROUND UTILS */
.bg-primary {
    background-color: #FFFFFF;
}
.bg-info {
    background-color: #FFFFFF;
}
.bg-danger {
    background-color: #E64C66;
}
.bg-dark {
    background-color: #1A1A1A;
}
.bg-white {
    background-color: #FFFFFF;
}
.bg-black {
    background-color: #000000;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-right {
    text-align: right;
}
.text-primary {
    color: #2D3E50;
}
.text-info {
    color: #1BBC9B;
}
.text-danger {
    color: #E64C66;
}
.text-default {
    color: #AEAEAE;
}
.text-light {
    color: #D9E9E8;
}
.text-dark {
    color: #000000;
}
.text-black {
    color: #000000;
}
.text-red {
    color: #BB2E2E;
}
.text-link {
    color: #1B89BC;
}
.card {
    border: 1px solid #57779A;
    margin: 0rem .15rem;
}

.card .card-header {
    padding: 0.375rem;
    background-color: #2D3E50;
    color: #D9E9E8;
}
.card .card-body {
    padding: 0.375rem;
}
.card .card-footer {
    border-top: 1px solid #1A1A1A;
    padding: 0.375rem;
}
.card .card-rounded {
    border-radius: 0.3rem;
    border: 1px solid #57779A;
}
.card .card-rounded .card-header {
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}
.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
}
.btn:hover {
    background-color: #CECECE;
}
.btn-basic {
    border-radius: 0.3rem;
    /* font-weight: lighter; */
}
.btn.btn-squared {
    border-radius: 0;
}
.btn.btn-sm {
    font-size: 0.85rem;
    padding: 0.3rem 0.9rem;
}
.btn.btn-lg {
    font-size: 1.25rem;
    padding: 0.8rem 1.4rem;
}ong-ovrd
.btn.btn-block {
    width: 100%;
    display: block;
    text-align: center;
}
.btn.btn-primary {
    background-color: #2D3E50;
    color: #D9E9E8;
}
.btn.btn-primary:hover {
    background-color: #57779A;
}
.btn.btn-danger {
    background-color: #E64C66;
    color: #FFFFFF;
}
.btn.btn-danger:hover {
    background-color: #EE8294;
}
.btn.btn-info {
    background-color: #1BBC9B;
    color: #FFFFFF;
}
.btn.btn-info:hover {
    background-color: #31E1BD;
}
.btn.btn-light {
    background-color: #D9E9E8;
    color: #1A1A1A;
}
.btn.btn-light:hover {
    background-color: #84B8B4;
}
.btn.btn-dark {
    background-color: #BA2424;
    color: #D9E9E8;
}
.btn.btn-dark:hover {
    background-color: #5F5F5F;
}
.btn.btn-blue {
    background-color: #008AF2;
    color: white;
}
.btn.btn-white {
    background-color: #FFFFFF;
    color: #1A1A1A;
}
.btn.btn-white:hover {
    background-color: #CCCCCC;
}
.btn.btn-black {
    background-color: #000000;
    color: #FFFFFF;
}
.btn.btn-black:hover {
    background-color: #666666;
}
.btn.btn-link {
    background-color: #1B89BC;
    color: #FFFFFF;
}
.btn.btn-link:hover {
    background-color: #31A9E1;
}